h1, p, h2, h3 {
  color: #182e3b;
  font-family: "Times New Roman", Times, serif;;
}

a {
  text-decoration: none;
  color: black;
  margin-inline: 10px;
}


.conteneur-page {
  width: 90%;
  max-width: 1000px;
}

.conteneur-navbar {
  width: 80%;
  max-width: 1300px;
}

.nev-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.pc-display {
  display: block;
}

.phone-display {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .pc-display {
    display: none;
  }
  .phone-display {
    display: block;
  }
}
