h1, p, h2, h3 {
  font-family: "Times New Roman", Times, serif;;
}

a {
  text-decoration: none;
  color: black;
  margin-inline: 10px;
}


.conteneur-page {
  width: 80%;
  max-width: 1300px;
}

.nev-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}